<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambdabox</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" />
    {% block extrahead %}
    <style type="text/css">
        body {
            background-color: #EAEAEA;
        }
        .column {
          max-width: 400px;
          margin: 0 auto;
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>
